# Ignorar las de dependencias del backend
backend/node_modules/

# Ignorar la base de datos de SQLite y sus archivos temporales
backend/taller.sqlite
backend/taller.sqlite-*

# Otros archivos comunes a ignorar en proyectos Node.js
npm-debug.log
.DS_Store